<section class="inspector" translate="no">
  <div class="inspector__align">
    <button class="inspector__btn" disabled><svg width="13" height="13"><use xlink:href="#icon-horizontally"></use></svg></button>
    <button class="inspector__btn" disabled><svg width="13" height="13"><use xlink:href="#icon-vertically"></use></svg></button>
    <span class="inspector__btn"><svg width="3" height="11"><use xlink:href="#icon-three_dots"></use></svg></span>
    <button class="inspector__btn" disabled><svg width="12" height="13"><use xlink:href="#icon-align_to_left"></use></svg></button>
    <button class="inspector__btn" disabled><svg width="13" height="13"><use xlink:href="#icon-align_to_center"></use></svg></button>
    <button class="inspector__btn" disabled><svg width="12" height="13"><use xlink:href="#icon-align_to_right"></use></svg></button>
    <button class="inspector__btn" disabled><svg width="13" height="12"><use xlink:href="#icon-align_to_top"></use></svg></button>
    <button class="inspector__btn" disabled><svg width="13" height="13"><use xlink:href="#icon-align_to_middle"></use></svg></button>
    <button class="inspector__btn" disabled><svg width="13" height="12"><use xlink:href="#icon-align_to_bottom"></use></svg></button>
  </div>
  <div class="inspector__wip">
    <p>Work in progress</p>
  </div>
  {# <div class="inspector__position">
    <input disabled class="inspector__input">
    <input disabled class="inspector__input">
    <input disabled class="inspector__input">
    <input disabled class="inspector__input">
    <input disabled class="inspector__input">
    <div class="inspector__btns">
      <button class="inspector__input" disabled><svg width="13" height="12"><use xlink:href="#icon-reflect"></use></svg></button>
      <button class="inspector__input" disabled><svg width="12" height="13"><use xlink:href="#icon-reflect_vertical"></use></svg></button>
    </div>
  </div> #}
</section>
