<section class="sidebar" data-resize-col="end" translate="no">
  <div class="row">
    <button class="sidebar__tab sidebar__tab--active">Layers</button>
    <button class="sidebar__tab">Components</button>
  </div>
  <div class="sidebar__list">
    <button class="sidebar__item sidebar__item--active">Home</button>
  </div>
  <div class="sidebar__layers" data-resize-row>
    <input type="search" class="input-search" placeholder="Search Layers">
    <ul class="sidebar__list">
      <li role="button" tabindex="0" class="sidebar__item sidebar__item--active" data-scrollto="#intro">
        Intro
        <button class="sidebar__item-eye"><svg width="15" height="11"><use xlink:href="#icon-eye"></use></svg></button>
      </li>
      <li role="button" tabindex="0" class="sidebar__item" data-scrollto="#portfolio">
        Portfolio
        <button class="sidebar__item-eye"><svg width="15" height="11"><use xlink:href="#icon-eye"></use></svg></button>
      </li>
      <li role="button" tabindex="0" class="sidebar__item" data-scrollto="#about-me">
        About me
        <button class="sidebar__item-eye"><svg width="15" height="11"><use xlink:href="#icon-eye"></use></svg></button>
      </li>
    </ul>
  </div>
</section>
