.input-search {
  display: block;
  width: 100%;
  padding: 8px 10px 8px 30px;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='13px' height='13px' viewBox='0 0 13 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' transform='translate(1.500000, 1.500000)' stroke='%237F7F7F'%3E%3Ccircle id='Oval' cx='4' cy='4' r='4'%3E%3C/circle%3E%3Cpath d='M6.90867859,7.07567486 C8.03758927,8.10925729 9.16649996,9.14283972 10.2954106,10.1764222' id='Path-6'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: left 10px center;
  background-repeat: no-repeat;
  border: 0;
  border-bottom: solid 1px #E6E6E6;
  color: #818181;
  font-size: 11px;
}
