.alert {
  $el: &;

  &__content {
    display: flex;
    align-items: center;
    padding: 3px 6px;
    background-color: #E0221F;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    font-size: 10px;
    line-height: 1;

    &::before {
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      margin-right: 4px;
      background-color: white;
      border-radius: 50%;
    }
  }

  input {
    @include hidden;

    &:checked + #{$el}__content {
      background-color: #B6080A;

      #{$el}__info {
        display: block;
      }
    }

    &:focus + #{$el}__content {
      outline: -webkit-focus-ring-color auto 1px;
    }
  }

  &__info {
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    right: 4px;
    padding: 4px 0;
    background-color: #E9EBE9;
    box-shadow: 0 2px 6px 1px Rgb(0 0 0 / 0.2);
    border-radius: 6px;
    border: solid 0.5px #AEAEAE;
    color: #524E4D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    white-space: nowrap;
    z-index: $z-alert;
  }

  &__info-item {
    width: 100%;
    padding: 2px 22px;
    text-align: left;

    &:hover {
      background-color: #3A8CF7;
      color: white;
    }
  }
}
